telegram
requests
asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
cloudpickle==1.2.2
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.1
Django==1.11.27
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
futures==3.3.0
idna==2.6
ipaddress==1.0.17
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lockfile==0.12.2
matplotlib==2.2.4
mercurial==4.5.3
monotonic==1.0
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pycrypto==2.6.1
pyflakes==1.6.0
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.6
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
pyzmq==18.1.1
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.2
SecretStorage==2.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.8
